/WeatherApp_MVVM.xcodeproj/xcuserdata/annashin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/WeatherApp_MVVM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/WeatherApp_MVVM.xcodeproj/project.xcworkspace/xcuserdata/annashin.xcuserdatad/UserInterfaceState.xcuserstate
/WeatherApp_MVVM.xcodeproj/xcuserdata/annashin.xcuserdatad/xcschemes/xcschememanagement.plist
/WeatherApp_MVVM.xcodeproj/project.xcworkspace/contents.xcworkspacedata
